@model TheatreCMS3.Areas.Blog.Models.BlogAuthor
@using TheatreCMS3.Areas.Blog.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
  <div class="BlogAuthor-Details--NavContainer">
    <p class="btn BlogAuthor-Details--Nav" id="Details">Author Details</p>
    <p class="btn BlogAuthor-Details--Nav" id="BlogPosts">Blog Posts</p>
    <p class="btn BlogAuthor-Details--Nav" id="Contact">Contact</p>  
    <p class="btn BlogAuthor-Details--Nav" id="Twitter">Twitter</p>
  </div>
  <div class="card mb-3" style="max-width: 540em;">
    <div class="row no-gutters">
      
      <div class="col-md-4">

        @if (Model.AuthorPhoto.Photo != null)
        {
          string text = Convert.ToBase64String(Model.AuthorPhoto.Photo);
          <img src="data:image/jpeg;base64,@text" alt="...">
        }

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title BlogAuthor-Details--CardName"></h5>
          <p class="card-text BlogAuthor-Details--Bio">@Html.DisplayFor(model => model.Bio)</p>

          <div class="container">
            <div class="row">
              <div class="col">
                <p class="card-text BlogAuthor-Details--JoinedLeft">Joined Date</p>
              </div>
              <div class="col">
                <p class="card-text BlogAuthor-Details--JoinedLeft">Left Date</p>
              </div>
            </div>

          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <p class="card-text BlogAuthor-Details--JoinedLeft"> @Html.DisplayFor(model => model.Joined)</p>
              </div>
              <div class="col">
                <p class="card-text BlogAuthor-Details--JoinedLeft"> @Html.DisplayFor(model => model.Left)</p>
              </div>
            </div>
            <div class="BlogAuthor-Details--JoinedLeftContainer">
              <p class="card-text BlogAuthor-Details--Joined">Joined Date</p>
              <p class="card-text">Left Date</p>
            </div>

          </div>
        </div>
      </div>

      @*html for BlogPosts section*@
     
      <div class="col-md-8" id="BlogAuthor-Details--BlogPosts">
        <div class="card-body">
          <h5 class="card-title BlogAuthor-Details--CardName">@Html.DisplayFor(model => model.Name)</h5>
          <p class="card-text BlogAuthor-Details--Bio">@Html.DisplayFor(model => model.Bio)</p>

          <div class="container">
            <div class="row">
              <div class="col">
                <p class="card-text BlogAuthor-Details--JoinedLeft">Joined Date</p>
              </div>
              <div class="col">
                <p class="card-text BlogAuthor-Details--JoinedLeft">Left Date</p>
              </div>
            </div>

          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <p class="card-text BlogAuthor-Details--JoinedLeft"> @Html.DisplayNameFor(model => model.BlogPosts)</p>
              </div>
              <div class="col">
                <p class="card-text BlogAuthor-Details--JoinedLeft"> @Html.DisplayFor(model => model.Left)</p>
              </div>
            </div>
            <div class="BlogAuthor-Details--JoinedLeftContainer">
              <p class="card-text BlogAuthor-Details--Joined">Joined Date</p>
              <p class="card-text">Left Date</p>
            </div>

          </div>
        </div>
      </div>

    </div>



  </div>
  <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogAuthorId }) |
    @Html.ActionLink("Back to List", "Index")
  </p>
