@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Item)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ItemDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PickupDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReturnDate)
    </td>
    <td>
         <text><img alt="@item.RentalItemId"
                 src="data:image/jpg;base64,@Convert.ToBase64String(item.ItemPhoto)" /></text>
        
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.RentalItemId }) |
        @Html.ActionLink("Details", "Details", new { id = item.RentalItemId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.RentalItemId })
    </td>
</tr>
}

</table>
