@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalPhoto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
<script src="https://kit.fontawesome.com/352af35437.js" crossorigin="anonymous"></script>

<div class="RentalPhoto-Index--Body">
    
    <div class="row justify-content-center">
        <div class="RentalPhoto-Index--Header">
            <h2>Rental Photos Index</h2>
            @Html.ActionLink("Create New", "Create", null, new { @class = "RentalPhoto-Index--CreateBtn btn btn-lg" })
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model) {
        <div class="col-sm-3">
            <div class="card text-center RentalPhoto-Index--Card">
                <a href="@Url.Action("Details", new { id=item.RentalPhotoId })" class="stretched-link">
                    <img class="RentalPhoto-Index--CardImg" alt="@item.RentalPhotoId" src="data:image/jpg;base64,@Convert.ToBase64String(item.RentalPhotos)" />
                </a>

                <div class="card-img-overlay">
                    <h5 class="card-header RentalPhoto-Index--CardText">@Html.DisplayFor(modelItem => item.RentalsName)</h5>

                    <div class="card-body">

                        <div class="icons card-footer RentalPhoto-Index--CardFooter">
                            <a href="@Url.Action("Edit", new { id=item.RentalPhotoId })" class="RentalPhoto-Index--Link"><i class="fa-solid fa-pen-to-square">Edit</i></a>
                            <a href="@Url.Action("Delete", new { id=item.RentalPhotoId })" class="RentalPhoto-Index--Link"><i class="fa-solid fa-trash-can">Delete</i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div> }
    </div>
</div>  


